{% extends "chiffee/home.html" %}


{% block logedinbody %}
{% if error %}
		<h2 align="center" >{{ error }}</h2>
{% endif %}

 {% for u in users %}

<table>
    <tr>
        <td>{{ u.first_name }} {{u.last_name }}</td>
        <td>Kontostand</td>
        <td>{{ u.balance|floatformat:2 }}</td>        
    </tr>
</table>

 <table>
    
    <tr>
		<th>Produkt</th>
		<th>Anzahl</th>
		<th>Kosten</th>			
    </tr>		

    {% for b in u.buys.values %}
    <tr>
        <td> {{ b.buy_product.product_name }}</td><td>{{ b.buy_count }}</td><td>{{ b.buy_total|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    
 </table>   
 <hr>
{% endfor %}

{% endblock %}

